name: Run Unit Tests
on: [push]
jobs:
  run-unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install NodeJS # Sometimes we don't need this step if the runner already has it installed
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Install dependencies with pnpm
        run: pnpm install --frozen-lockfile # installing dependencies from pnpm-lock.yaml
      - name: Run tests
        run: pnpm run test